body {
  font-family: "Nunito", sans-serif;
  line-height: 1.6;
  background: #ffffff;
  overflow-x: hidden;
  font-size: 16px;
  color: #939393;
}
body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
body.offcanvas-menu:before {
  opacity: 1;
  visibility: visible;
}


